@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-priority-critical: var(--priority-critical);
  --color-priority-high: var(--priority-high);
  --color-priority-medium: var(--priority-medium);
  --color-priority-low: var(--priority-low);

  --color-status-todo: var(--status-todo);
  --color-status-in-progress: var(--status-in-progress);
  --color-status-completed: var(--status-completed);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9843 0.0017 247.84);
  --foreground: oklch(0.2064 0.0388 265.55);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2064 0.0388 265.55);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2064 0.0388 265.55);
  --primary: oklch(0.5449 0.2154 262.74);
  --primary-foreground: oklch(0.9838 0.0035 247.86);
  --secondary: oklch(0.9676 0.007 247.9);
  --secondary-foreground: oklch(0.2064 0.0388 265.55);
  --muted: oklch(0.9676 0.007 247.9);
  --muted-foreground: oklch(0.5564 0.0398 256.82);
  --accent: oklch(0.9649 0.0175 248.01);
  --accent-foreground: oklch(0.5449 0.2154 262.74);
  --destructive: oklch(0.6356 0.2082 25.38);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9258 0.0132 255.03);
  --input: oklch(0.9258 0.0132 255.03);
  --ring: oklch(0.5449 0.2154 262.74);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.9843 0.0017 247.84);
  --sidebar-foreground: oklch(0.2064 0.0388 265.55);
  --sidebar-primary: oklch(0.5449 0.2154 262.74);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9649 0.0175 248.01);
  --sidebar-accent-foreground: oklch(0.5449 0.2154 262.74);
  --sidebar-border: oklch(0.9258 0.0132 255.03);
  --sidebar-ring: oklch(0.5449 0.2154 262.74);

  --priority-critical: oklch(0.6356 0.2082 25.38);
  --priority-high: oklch(0.7065 0.186 48.13);
  --priority-medium: oklch(0.7858 0.1598 85.31);
  --priority-low: oklch(0.7205 0.192 149.49);

  --status-todo: oklch(0.5564 0.0398 256.82);
  --status-in-progress: oklch(0.5449 0.2154 262.74);
  --status-completed: oklch(0.7205 0.192 149.49);
}

.dark {
  --background: oklch(0.2064 0.0388 265.55);
  --foreground: oklch(0.9838 0.0035 247.86);
  --card: oklch(0.2253 0.0448 265.41);
  --card-foreground: oklch(0.9838 0.0035 247.86);
  --popover: oklch(0.2253 0.0448 265.41);
  --popover-foreground: oklch(0.9838 0.0035 247.86);
  --primary: oklch(0.6261 0.1859 259.6);
  --primary-foreground: oklch(0.2064 0.0388 265.55);
  --secondary: oklch(0.2753 0.0364 259.7);
  --secondary-foreground: oklch(0.9838 0.0035 247.86);
  --muted: oklch(0.2753 0.0364 259.7);
  --muted-foreground: oklch(0.71 0.0348 256.79);
  --accent: oklch(0.2753 0.0364 259.7);
  --accent-foreground: oklch(0.9838 0.0035 247.86);
  --destructive: oklch(0.3996 0.1348 25.77);
  --destructive-foreground: oklch(0.9838 0.0035 247.86);
  --border: oklch(0.2753 0.0364 259.7);
  --input: oklch(0.2753 0.0364 259.7);
  --ring: oklch(0.8701 0.0197 251.63);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.1871 0.0326 265.72);
  --sidebar-foreground: oklch(0.9838 0.0035 247.86);
  --sidebar-primary: oklch(0.6261 0.1859 259.6);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2753 0.0364 259.7);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.86);
  --sidebar-border: oklch(0.2753 0.0364 259.7);
  --sidebar-ring: oklch(0.6261 0.1859 259.6);

  --priority-critical: oklch(0.5209 0.1812 26.21);
  --priority-high: oklch(0.6205 0.1571 49.33);
  --priority-medium: oklch(0.6697 0.132331 87.3738);
  --priority-low: oklch(0.5739 0.1396 150.94);

  --status-todo: oklch(0.6227 0.0463 256.82);
  --status-in-progress: oklch(0.6261 0.1859 259.6);
  --status-completed: oklch(0.6325 0.1552 150.82);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility priority-critical {
  background-color: var(--priority-critical);
  color: var(--color-white);
}

@utility priority-high {
  background-color: var(--priority-high);
  color: var(--color-white);
}

@utility priority-medium {
  background-color: var(--priority-medium);
  color: var(--color-white);
}
@utility priority-low {
  background-color: var(--priority-low);
  color: var(--color-white);
}
@utility status-todo {
  color: var(--status-todo);
}
@utility status-in-progress {
  color: var(--status-in-progress);
}
@utility status-completed {
  color: var(--status-completed);
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility glass {
  @apply bg-card/80 backdrop-blur-xl;
}
